{% extends "main_base.html" %}
{% load static %}

{% block content %}
<div class="sub-header-m">
  <a href="/products" class="button-back">Назад</a>
  
</div>
<div class="products-cart-small">
    <!-- Карточка товара -->
     
    <div class="product-cart-panel-small">
        {% for item in products %}
        <div class="product-item">
            <div class="left-side">
                <div class="product-cart-img" id="big-image">
                    {% with item.product.images.all|first as first_image %}
                    {% if first_image %}
                        <img src="{% static first_image.file %}" alt="{{ item.product.name }}">
                    {% else %}
                        <img src="{% static 'images/default.png' %}" alt="{{ item.product.name }}">
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            
                <div>
                    <h2 class="product-title big">{{ item.product.name }}</h2>
                    <h3 class="product-description big">Описание: {{ item.product.mark }},{{ item.product.model }}<br>Part Number: {{ item.product.vincode }}</h3>
                </div>
                <div>
                    <div class="item-actions">
                        <h3>{{ item.count }} шт</h3>
                        <h3 class="product-price">{{ item.product.price }}тг</h3>
                    </div>
                </div>
      
        </div>
        {% endfor %}

        <div class="right big">
            <div class="row">
                <h2>Общее количество</h2>
                <h2>{{ products_count }} шт</h2>
            </div>
            <div class="row">
                <h2>Общаяя стоимость</h2>
                <h2>{{ products_price }} тг</h2>
            </div>
        </div>
    </div>
    <div class="bye-cart-form">
        <form action="">
            <input type="text" placeholder="Имя" name="name" required>
            <input type="text" placeholder="Номер WhatsApp" name="phone" required>
            <input type="text" placeholder="Адрес доставки" name="address" required>
            <input type="text" placeholder="Дополнительный номер" name="phone2">
            <input type="text" placeholder="Промокод" name="promo">
            <h6>*Из-за колебаний курса и других внешних обстоятельств цены могут меняться, актуальные цены уточнит менеджер</h6>
            <button type="submit" class="button">Отправить заявку</button>
        </form>
    </div>
</div>

{% if info %}
<div class="submited">
    <h2>Ваш заказ создан, менеджер свяжется с Вами в ближайшее время</h2>
    <span><img src="{% static 'images/submitted.svg' %}" alt="submitted"></span>
</div>
{% endif %}
{% endblock %}